# Import nesssary modules

In [1]:
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objs as go
init_notebook_mode(connected=True)
import plotly.figure_factory as ff
from plotly.tools import FigureFactory as FF
import pandas as pd
import numpy as np
import scipy

# Dataset Manipulation

Read in dataset

In [4]:
wtdf = pd.read_csv("D:/Users/Daniel Harty/Documents/daniel_mast_1/Wildtype_rosette_widths.csv")
mtdf = pd.read_csv("D:/Users/Daniel Harty/Documents/daniel_mast_1/Mutant_rosette_widths.csv")

Check dataset integrity

In [5]:
wtdf.head(13)

     Line ID  Day 14  Day 21
0    B18WT-1   33.90   61.20
1    B18WT-2   32.90   59.15
2    B18WT-3   35.80   63.15
3    B18WT-4   32.45   58.20
4    B18WT-5   37.90   68.75
5    B18WT-6   28.60   50.35
6    B18WT-7   33.45   59.15
7    B18WT-8   41.70   74.25
8    B18WT-9   30.60   55.65
9   B18WT-10   33.70   61.00
10  B18WT-11   29.30   54.65
11  B18WT-12   38.75   69.00
12  B18WT-13   36.85   66.70

Describe dataset variables

In [7]:
wtdf.describe()

           Day 14      Day 21
count  171.000000  171.000000
mean    40.704378   71.934033
std      7.111247   14.010743
min     25.200000   37.000000
25%     35.550000   62.600000
50%     41.780929   73.000000
75%     46.387978   83.600000
max     52.622822   99.450000

Print dataset in full for subset indexing

In [8]:
print(wtdf)

      Line ID     Day 14     Day 21
0     B18WT-1  33.900000  61.200000
1     B18WT-2  32.900000  59.150000
2     B18WT-3  35.800000  63.150000
3     B18WT-4  32.450000  58.200000
4     B18WT-5  37.900000  68.750000
5     B18WT-6  28.600000  50.350000
6     B18WT-7  33.450000  59.150000
7     B18WT-8  41.700000  74.250000
8     B18WT-9  30.600000  55.650000
9    B18WT-10  33.700000  61.000000
10   B18WT-11  29.300000  54.650000
11   B18WT-12  38.750000  69.000000
12   B18WT-13  36.850000  66.700000
13   B18WT-14  34.600000  62.650000
14   B18WT-15  39.500000  70.450000
15   B18WT-16  27.750000  49.750000
16   B18WT-17  43.700000  78.000000
17   B18WT-18        NaN        NaN
18   B18WT-19  39.400000  70.000000
19   B18WT-20  27.600000  48.000000
20   B18WT-21  37.800000  68.500000
21   B18WT-22  32.400000  57.300000
22   B18WT-23        NaN        NaN
23   B18WT-24  28.800000  52.700000
24   B18WT-25  38.850000  69.000000
25   B18WT-26  46.250000  83.250000
26   B18WT-27  35.300000  62.850000
27   B18WT-28  36.500000  65.000000
28   B18WT-29  51.050000  91.100000
29   B18WT-30  46.400000  83.600000
..        ...        ...        ...
150   C87WT-7  43.908849  80.000000
151   C87WT-8  44.115674  80.600000
152   C87WT-9  42.795519  76.000000
153  C87WT-10  44.109692  80.350000
154  C87WT-11  41.155793  74.000000
155  C87WT-12  48.440588  88.450000
156  C87WT-13  47.345448  86.000000
157  C87WT-14  43.426069  77.400000
158  C87WT-15  42.428506  75.800000
159  C87WT-16  49.877154  89.350000
160  C87WT-17        NaN        NaN
161  C87WT-18  50.151883  89.550000
162  C87WT-19  41.780929  74.400000
163  C87WT-20  50.622676  90.000000
164  C87WT-21  47.252489  85.600000
165  C87WT-22  49.537823  88.950000
166  C87WT-23  42.205853  75.000000
167  C87WT-24  50.645856  90.000000
168  C87WT-25  43.550000  68.560943
169  C87WT-26  46.200000  76.839034
170  C87WT-27  43.300000  65.080953
171  C87WT-28  45.400000  75.889639
172  C87WT-29  37.700000  49.028564
173  C87WT-30  46.350000  80.975400
174  C87WT-31  50.000000  91.872789
175  C87WT-32  37.350000  48.705769
176  C87WT-33  30.500000  44.292224
177  C87WT-34  32.000000  47.276489
178  C87WT-35  44.000000  71.325561
179  C87WT-36  46.600000  84.135031

[180 rows x 3 columns]

Create subsets for chi-squared tests (by line)

In [9]:
B18wt_stems_df = wtdf.iloc[0:36, [0,1,2]]
print(B18wt_stems_df)

     Line ID  Day 14  Day 21
0    B18WT-1   33.90   61.20
1    B18WT-2   32.90   59.15
2    B18WT-3   35.80   63.15
3    B18WT-4   32.45   58.20
4    B18WT-5   37.90   68.75
5    B18WT-6   28.60   50.35
6    B18WT-7   33.45   59.15
7    B18WT-8   41.70   74.25
8    B18WT-9   30.60   55.65
9   B18WT-10   33.70   61.00
10  B18WT-11   29.30   54.65
11  B18WT-12   38.75   69.00
12  B18WT-13   36.85   66.70
13  B18WT-14   34.60   62.65
14  B18WT-15   39.50   70.45
15  B18WT-16   27.75   49.75
16  B18WT-17   43.70   78.00
17  B18WT-18     NaN     NaN
18  B18WT-19   39.40   70.00
19  B18WT-20   27.60   48.00
20  B18WT-21   37.80   68.50
21  B18WT-22   32.40   57.30
22  B18WT-23     NaN     NaN
23  B18WT-24   28.80   52.70
24  B18WT-25   38.85   69.00
25  B18WT-26   46.25   83.25
26  B18WT-27   35.30   62.85
27  B18WT-28   36.50   65.00
28  B18WT-29   51.05   91.10
29  B18WT-30   46.40   83.60
30  B18WT-31   47.55   86.35
31  B18WT-32   42.25   75.65
32  B18WT-33   34.35   62.55
33  B18WT-34   28.75   51.55
34  B18WT-35   48.00   87.15
35  B18WT-36   43.15   77.25

In [10]:
B18wt_stems_used14_df = wtdf.iloc[0:36, [1]]
print(B18wt_stems_used14_df)

    Day 14
0    33.90
1    32.90
2    35.80
3    32.45
4    37.90
5    28.60
6    33.45
7    41.70
8    30.60
9    33.70
10   29.30
11   38.75
12   36.85
13   34.60
14   39.50
15   27.75
16   43.70
17     NaN
18   39.40
19   27.60
20   37.80
21   32.40
22     NaN
23   28.80
24   38.85
25   46.25
26   35.30
27   36.50
28   51.05
29   46.40
30   47.55
31   42.25
32   34.35
33   28.75
34   48.00
35   43.15

In [11]:
B18mt_stems_used_df = mtdf.iloc[0:36, [1]]
print(B18mt_stems_used_df)

    Day 14
0    26.35
1    24.95
2    37.00
3    26.45
4    31.75
5    31.70
6    24.50
7    41.35
8    33.50
9    42.80
10   33.35
11   30.20
12   39.90
13   40.95
14   26.55
15   32.15
16   29.60
17   32.50
18   26.80
19   31.10
20   37.10
21   32.15
22   38.35
23   36.15
24   41.15
25   46.20
26   43.30
27   44.00
28   45.10
29   40.75
30   43.20
31   47.00
32   46.20
33   33.35
34   37.55
35   43.60

In [12]:
###test_df = B18mt_stems_used_df.append(B18wt_stems_used14_df)
test_df = pd.concat([B18wt_stems_used14_df, B18mt_stems_used_df], axis=1, sort=False)
test_df = test_df.dropna(subset=['Day 14'])
print(test_df)

    Day 14  Day 14
0    33.90   26.35
1    32.90   24.95
2    35.80   37.00
3    32.45   26.45
4    37.90   31.75
5    28.60   31.70
6    33.45   24.50
7    41.70   41.35
8    30.60   33.50
9    33.70   42.80
10   29.30   33.35
11   38.75   30.20
12   36.85   39.90
13   34.60   40.95
14   39.50   26.55
15   27.75   32.15
16   43.70   29.60
18   39.40   26.80
19   27.60   31.10
20   37.80   37.10
21   32.40   32.15
23   28.80   36.15
24   38.85   41.15
25   46.25   46.20
26   35.30   43.30
27   36.50   44.00
28   51.05   45.10
29   46.40   40.75
30   47.55   43.20
31   42.25   47.00
32   34.35   46.20
33   28.75   33.35
34   48.00   37.55
35   43.15   43.60

# Chi-squared testing

T-tests for wet stems

In [13]:
# chi-squared test with similar proportions
from scipy.stats import chi2_contingency
from scipy.stats import chi2
# contingency table
stat, p, dof, expected = chi2_contingency(test_df)
print('dof=%d' % dof)
print(expected)
# interpret test-statistic
prob = 0.95
critical = chi2.ppf(prob, dof)
print('probability=%.3f, critical=%.3f, stat=%.3f' % (prob, critical, stat))
if abs(stat) >= critical:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')
# interpret p-value
alpha = 1.0 - prob
print('significance=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')

dof=33
[[30.46584092 29.78415908]
 [29.25226385 28.59773615]
 [36.81183766 35.98816234]
 [29.78320382 29.11679618]
 [35.21901776 34.43098224]
 [30.49112377 29.80887623]
 [29.30282956 28.64717044]
 [41.99482304 41.05517696]
 [32.41262079 31.68737921]
 [38.68276896 37.81723104]
 [31.67941798 30.97058202]
 [34.86505778 34.08494222]
 [38.80918324 37.94081676]
 [38.20239471 37.34760529]
 [33.39865216 32.65134784]
 [30.28886093 29.61113907]
 [37.06466621 36.23533379]
 [33.47450072 32.72549928]
 [29.68207239 29.01792761]
 [37.87371759 37.02628241]
 [32.64016649 31.90983351]
 [32.84242934 32.10757066]
 [40.45256885 39.54743115]
 [46.74799988 45.70200012]
 [39.7446489  38.8553511 ]
 [40.70539741 39.79460259]
 [48.61893119 47.53106881]
 [44.06801719 43.08198281]
 [45.88838279 44.86161721]
 [45.12989713 44.12010287]
 [40.73068026 39.81931974]
 [31.40130657 30.69869343]
 [43.25896582 42.29103418]
 [43.86575435 42.88424565]]
probability=0.950, critical=47.400, stat=22.790
Independent (fail to reject H0)
significance=0.050, p=0.909
Independent (fail to reject H0)